<md-content class="md-padding">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <span class="md-flex" ng-hide="<%= ctrl %>.guide.title">
        <em>No title given</em>
      </span>
      <span class="md-flex" ng-show="<%= ctrl %>.guide.title">
        {{ <%= ctrl %>.guide.title }}
      </span>
    </div>
  </md-toolbar>

  <md-content class="md-padding">
    <div ng-hide="<%= ctrl %>.guide.body">
      <p><em>No body text written.</em></p>
    </div>

    <div ng-bind-html="<%= ctrl %>.guide.body | markdown"
      ng-show="<%= ctrl %>.guide.body"></div>
  </md-content>
</md-content>
